<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/daymgnt"
        (click)="closeModal(false)"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="top">Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <form [formGroup]="taskForm" (ngSubmit)="createTask(taskForm)">
      <ion-row>
        <ion-col>
          <div class="form-field">
            <div
              [ngClass]="{'has-error' : taskForm.get('date').errors && (taskForm.get('date').touched || taskForm.get('date').dirty) }"
            >
              <ion-input
                (ionChange)="getTaskList()"
                type="date"
                formControlName="date"
              ></ion-input>
            </div>
            <span
              class="help-block"
              *ngIf=" taskForm.get('date').errors && (taskForm.get('date').touched || taskForm.get('date').dirty)"
            >
              <span
                *ngIf="taskForm.get('due_date').errors?.required"
                class="error"
              >
                Date is required*
              </span>
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="form-field">
            <div
              [ngClass]="{'has-error' : taskForm.get('task_id').errors && (taskForm.get('task_id').touched || taskForm.get('task_id').dirty) }"
            >
              <select formControlName="task_id">
                <option value="">Select Task</option>
                <option *ngFor="let list of taskList" [value]="list._id">
                  {{list.task_name}}
                </option>
              </select>
            </div>
            <span
              class="help-block"
              *ngIf=" taskForm.get('task_id').errors && (taskForm.get('task_id').touched || taskForm.get('task_id').dirty)"
            >
              <span
                *ngIf="taskForm.get('task_id').errors?.required"
                class="error"
              >
                Task Name is required*
              </span>
            </span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="form-field">
            <div
              [ngClass]="{'has-error' : taskForm.get('duration_start_time').errors && (taskForm.get('duration_start_time').touched || taskForm.get('duration_start_time').dirty) }"
            >
              <input
                placeholder="Start Time"
                formControlName="duration_start_time"
                [ngxTimepicker]="startTime"
                class="custom-input"
              />
              <ngx-material-timepicker #startTime></ngx-material-timepicker>
            </div>
            <span
              class="help-block"
              *ngIf=" taskForm.get('duration_start_time').errors && (taskForm.get('duration_start_time').touched || taskForm.get('duration_start_time').dirty)"
            >
              <span
                *ngIf="taskForm.get('duration_start_time').errors?.required"
                class="error"
              >
                Start Time is required*
              </span>
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="form-field">
            <div
              [ngClass]="{'has-error' : taskForm.get('duration_end_time').errors && (taskForm.get('duration_end_time').touched || taskForm.get('duration_end_time').dirty) }"
            >
              <input
                placeholder="End Time"
                formControlName="duration_end_time"
                [ngxTimepicker]="endTime"
                class="custom-input"
              />
              <ngx-material-timepicker #endTime></ngx-material-timepicker>
            </div>
            <span
              class="help-block"
              *ngIf=" taskForm.get('duration_end_time').errors && (taskForm.get('duration_end_time').touched || taskForm.get('duration_end_time').dirty)"
            >
              <span
                *ngIf="taskForm.get('duration_end_time').errors?.required"
                class="error"
              >
                End Time is required*
              </span>
            </span>
          </div>
        </ion-col>
      </ion-row>

      <!-- <div class="form-group">
            <div
              [ngClass]="{'has-error' : taskForm.get('due_date').errors && (taskForm.get('due_date').touched || taskForm.get('due_date').dirty) }"
            >
              <ion-item>
                <ion-label>Due Date : </ion-label>
                <ion-input type="date" formControlName="due_date"></ion-input>
              </ion-item>
            </div>
            <span
              class="help-block"
              *ngIf=" taskForm.get('due_date').errors && (taskForm.get('due_date').touched || taskForm.get('due_date').dirty)"
            >
              <span *ngIf="taskForm.get('due_date').errors?.required">
                &nbsp;&nbsp;&nbsp;&nbsp;Start Time is required*
              </span>
            </span>
          </div>
          <br />
          <div class="form-group">
            <div
              [ngClass]="{'has-error' : taskForm.get('due_time').errors && (taskForm.get('due_time').touched || taskForm.get('due_time').dirty) }"
            >
              <ion-item>
                <ion-label>Due Time : </ion-label>
                <ion-input type="time" formControlName="due_time"></ion-input>
              </ion-item>
            </div>
            <span
              class="help-block"
              *ngIf=" taskForm.get('due_time').errors && (taskForm.get('due_time').touched || taskForm.get('due_time').dirty)"
            >
              <span *ngIf="taskForm.get('due_time').errors?.required">
                &nbsp;&nbsp;&nbsp;&nbsp;Due Time is required*
              </span>
            </span>
          </div>
          <br /> -->
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            [disabled]="taskForm.invalid"
            *ngIf="!data && taskForm.invalid"
            color="primary"
            >Save</ion-button
          >

          <ion-button
            type="submit"
            [disabled]="taskForm.invalid"
            *ngIf="!data && taskForm.valid"
            color="primary"
            >Save
          </ion-button>

          <ion-button
            type="button"
            [disabled]="taskForm.invalid"
            *ngIf="data && taskForm.valid"
            color="primary"
            value="update"
            (click)="updateTask(taskForm)"
            >Update</ion-button
          >
          <ion-button
            type="button"
            [disabled]="taskForm.invalid"
            *ngIf="data && taskForm.invalid"
            color="primary"
            value="update"
            (click)="updateTask(taskForm)"
            >Update</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
