<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Goal Management </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openGoalModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


<ng-container >  

  <ion-item>
    <ion-label>Goal Type : </ion-label>
    <ion-select placeholder="Type" (ionChange)="filterGoal($event)">
      <ion-select-option value="short_term">SHORT TERM</ion-select-option>
      <ion-select-option value="long_term">LONG TERM</ion-select-option>
      <ion-select-option value="med_term">MED TERM</ion-select-option>
    </ion-select>
  </ion-item>
  
<hr>

    <ion-item-sliding *ngFor="let goal of goalList">
      <ion-item>
        <ion-label>
          <h1>Name : - {{goal.title}}</h1>
          <p>Priority : - {{goal.type}}</p>
          <p>Completion Date : {{goal.expectedCompleteddate | date: 'dd-MMM-yyyy'}}</p>
          <p>Expected Complete Date : {{goal.expectedCompleteddate | date: 'dd-MMM-yyyy'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editGoal(goal)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteGoal(goal._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

</ng-container>
</ion-content>
