<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Goal Management </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openGoalModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


<ng-container >  
  <ion-item>
    <ion-label>Date : </ion-label>
    <ion-input type="date" [(ngModel)]="dateFilter" (ionChange)="getDateGoal($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Goal Type : </ion-label>
    <ion-select placeholder="Type" (ionChange)="filterGoal($event)">
      <ion-select-option value="short_term">SHORT TERM</ion-select-option>
      <ion-select-option value="long_term">LONG TERM</ion-select-option>
      <ion-select-option value="med_term">MED TERM</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label> Goal Status : </ion-label>
    <ion-select placeholder="Select :" (ionChange)="filterGoalByStatus($event)">
      <ion-select-option value="true">DONE</ion-select-option>
      <ion-select-option value="false">NOT DONE</ion-select-option>
    </ion-select>
  </ion-item>
  
  
<hr>
    <ion-item-sliding *ngFor="let goal of detailsGoalList">
      <ion-item>
        <ion-label>
          <h5
          style="color: rgb(90, 141, 13);"
          *ngIf="goal.isCompleted == true "
        >
          <s style="text-transform: capitalize;">{{goal.title}}</s
          >&nbsp;&nbsp;( Done )&nbsp;
          <h5 style="color:brown !important">
            Date : {{goal.expectedCompleteddate | date: 'dd-MMM-yyyy'}}
          </h5>
        </h5>
        <h5
          style="text-transform: capitalize;"
          *ngIf="goal.isCompleted == false"
        >
          {{goal.title}}&nbsp;          <!-- <span style="color: blue;" *ngIf="!isShow && goal.type == 'event.detail.value'">{{goal.name}}</span> -->
          <span style="color: blue;" *ngIf="goal.type == 'short_term'">( Short term )</span>
          <span  style="color: blue;" *ngIf="goal.type == 'long_term'"> ( Long term )</span>
          <span  style="color: blue;" *ngIf="goal.type == 'med_term'">( Med term )</span>
        
       
          <p>Date - {{goal.expectedCompleteddate | date: 'dd-MMM-yyyy'}}</p>
        </h5>
        </ion-label>
        <ion-button
        *ngIf="goal.isCompleted == false"
        (click)="goalCompleted(goal)"
        class="button"
        type="submit"
        color="success"
        >Mark As Done</ion-button
      >
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editGoal(goal)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteGoal(goal._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <br />
    <p style="text-align:center" *ngIf="detailsGoalList.length==0">
      No Goal Found
    </p>
</ng-container>
</ion-content>
