ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.crAmmount{
  color: green;
}

bdAmmount{
  color: red;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td:nth-child(2) {
  color: green;
}

td:nth-child(3) {
  color: red;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.NoRecordFound {
  margin-left: 22%;
  margin-top: -4%;
}

.NoRecordFound img {
  height: 270px;
}

.NoRecordFound p {
  margin-top: -10%;
  margin-left: 15%;
  font-size: 26px;
}