<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!isModel">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Credential Management </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" (click)="openAddEditModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let credential of credentials">
      <ion-label >
        <div class="credential-item" style="display: flex;justify-content: space-between;">
          <div class="credential-details" (click)="openSaltInputModel(credential._id)">
            {{ credential.appName }} - {{ credential.source }}
          </div>
          <div class="action">
            <ion-icon
              (click)="presentActionSheet(credential)"
              name="ellipsis-vertical"
              class="setting-icon"
            ></ion-icon>
            <!-- <button (click)="presentActionSheet(credential)">Edit</button> -->
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
