<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/stock-management" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf='!isShow' id="top">Add StockManagement</ion-title>
    <ion-title *ngIf='isShow' id="top">Update StockManagement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form style="margin: 20px;" [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <ion-item>
        <ion-input type="text" class="form-control" id="name" autocomplete="off" formControlName="name"
          placeholder="Enter Name">

        </ion-input>
      </ion-item>
    </div>
    <br>
    <!-- 
    <div class="form-group">
      <ion-item>
      <ion-input
      type="number"
      class="form-control"
      id="quantity"
      autocomplete="off"
      formControlName="quantity"
      placeholder="Enter Quantity"
    >
  
  </ion-input>
</ion-item>
</div>
   
 
<br> -->
    <ion-row>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-input  type="number" [disabled]="isShow" class="form-control" id="totalItem_count" autocomplete="off"
              formControlName="totalItem_count" placeholder="Enter Total Item Count">

            </ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col>
        <div class="form-group">

          <ion-item>
            <ion-label>Quantity Type :</ion-label>
            <ion-select [disabled]="isShow" placeholder="Type: " formControlName="quantity">
              <section>
                <ion-select-option value="Kg">Kg</ion-select-option>
                <ion-select-option value="Gm">Gm</ion-select-option>
                <ion-select-option value="Packet">Packet</ion-select-option>
                <ion-select-option value="Ltr">Ltr</ion-select-option>
                <ion-select-option value="Pieces">Pieces</ion-select-option>
                <ion-select-option value="Plates">Plates</ion-select-option>
                <ion-select-option value="Portion">Portion</ion-select-option>
              </section>
            </ion-select>
          </ion-item>

        </div>
      </ion-col>
     
    </ion-row>

    <br>

   

    <div class="form-group">
      <ion-item>
        <ion-textarea class="form-control" id="description" autocomplete="off" formControlName="description"
          placeholder="Enter Description"></ion-textarea>

    
      </ion-item>
    </div>
    <br>

    <!-- <div class="form-group">

 
<br> -->

    <!--     
    <div class="form-group">
    <ion-item>
     
      <ion-input
        type="password"
        class="form-control"
        id="password"
        autocomplete="off"
        formControlName="password"
        placeholder="Enter Password"
      ></ion-input>
    </ion-item>
    </div> -->

    <br>
    <ion-button type="submit" *ngIf='!isShow' color="primary">Submit</ion-button>
    <ion-button type="button" *ngIf='isShow' color="primary" value="update"
      (click)="updateStockManagement(myReactiveForm)">Update</ion-button>




  </form>