<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/food-manager"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>

    <ion-title> Nutrients </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <table style="width: 100%" class="custom-tbl">
          <tr *ngFor="let nutrient of getNutrients()">
            <td>{{ titleCase((nutrient.key).split('_').join(' ')) }}</td>
            <td>{{ nutrient.value }}{{ nutrientsUnit[nutrient.key] }}</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
