<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/docmgnt"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="top"> 
      <ion-icon name="folder-open-outline" style="color: white;"></ion-icon>
      &nbsp; {{ folderName }} 
      <ion-icon name="chevron-forward-outline" style="color: white;"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddEditDocModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="container">
    <div *ngIf="docList.length != 0">
    <ion-item-sliding *ngFor="let doc of docList">
      <ion-item (click)="openDocDetailModal(doc)">
        <ion-label>
          <h1>Title : - {{doc.doc_name}}</h1>
          <p>Date : {{doc.createdAt | date: 'dd-MMM-yyyy'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editDoc(doc)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteDoc(doc._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</div>
</ion-content>
