<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Doc Management </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-icon
        class="right-menu"
        name="ellipsis-vertical-outline"
        (click)="presentActionSheet()">
      </ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<!-- <ion-content [fullscreen]="true">


<div
    *ngFor='let folder of folderList ' class="folder" (click)="openDocListModal(folder._id, folder.name)">
      <img src="../../../assets/img/folder-icon.png" alt="">
      <br>
      <p class="folder-name">
        {{ folder.name }}
      </p>
      
      <ion-col>
        <ion-icon class="call-icon" (click)="openEditFolderModal(folder)" name="create-outline"></ion-icon>
      </ion-col>
      <br>
     
      <ion-col>
        <ion-icon class="call-icon" (click)="presentAlertConfirm(folder._id)" name="trash-outline"></ion-icon>
      </ion-col>
    </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddEditDocModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> -->
<ion-content [fullscreen]="true">


  <ion-list>
    <ion-item-sliding id="item100" *ngFor='let folder of folderList'>
  
      <ion-item >
        
        <ion-grid>
          <ion-row>
           
            <div
               class="folder" (click)="openDocListModal(folder._id, folder.name)">
      <img src="../../../assets/img/folder-icon.png" alt="">
      <br>
      <p class="folder-name">
        {{ folder.name }}
      </p>
    </div>
          
          </ion-row>  
        </ion-grid>
      </ion-item>
  
      
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="openEditFolderModal(folder)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="presentAlertConfirm(folder._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
       
  
      </ion-item-options>
  
    </ion-item-sliding>
    <p  style="text-align: center;"  *ngIf="folderList.length == 0 ">No Folders  Found</p>

  </ion-list>
  
  
  
  
  
  
   
   
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddEditFolderModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>