<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/stock-management" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title id="top" style="text-transform: capitalize;">{{data?.name}} - Transection Details</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="heading">
        Total Items
      </ion-col>
      <ion-col class="heading">
        Used Items
      </ion-col>
      <ion-col class="heading">
        Available Items
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="amount">
        {{data.totalItem_count}} {{data.quantity}}
      </ion-col>
      <ion-col class="amount">
        {{total}} {{data.quantity}}
      </ion-col>
      <ion-col class="amount">
        {{data.totalItem_count-total}} {{data.quantity}}

      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>
  
  <table>
    <ng-container>
      <tr>
        <th>Date</th>
        <th>Used Item Count</th>
        

      </tr>

      <tr *ngFor="let obj of transectionData">
        <td>{{obj.date | date:'dd-MMM-yyyy'}}</td>
        <td>{{obj.useItem_count }} {{obj.quantityType}}</td>
   
      </tr>
      <tr>
        <td style="font-weight: bolder;">Total </td>
        <td>{{total}} {{data.quantity}}</td>

      </tr>
    </ng-container>
  </table>