<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/docmgnt"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="top"> 
      <ion-icon name="folder-open-outline" style="color: white;"></ion-icon>
      &nbsp; {{ folderName }} 
      <ion-icon name="chevron-forward-outline" style="color: white;"></ion-icon>
      {{doc.doc_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item>
      <ion-label>
        <h1>Title : - {{doc.doc_name}}</h1>
        <p>Images : - {{doc.doc_image}}</p>
        <p>Folder Id : {{doc.folder_id}}</p>
        <p>Created Date : {{doc.createdAt | date: 'dd-MMM-yyyy'}}</p>
      </ion-label>
    </ion-item>
  </div>
  <ion-button color="secondary"  type="button" value="edit" (click)="editDoc(doc)">Edit</ion-button>
</ion-content>
