<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/food-manager" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isEditMode" id="top">Add Food</ion-title>
    <ion-title *ngIf="isEditMode" id="top">Update Food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="form-bg">
        <form [formGroup]="foodForm" (ngSubmit)="addFood(foodForm)">
          <ion-item>
            <ion-label>Food Name : </ion-label>
            <ion-input type="text" placeholder="Title" formControlName="name"></ion-input>
          </ion-item>
          <br />
          <ion-item>
            <ion-label>Food Image : </ion-label>
            <ion-input type="text" placeholder="link" formControlName="imageUrl"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <tag-input formControlName="category" aria-placeholder="add category" ></tag-input>
          </ion-item>
          <br> 
          <div formArrayName="nutrition">
            <div *ngFor="let nutrient of nutritionArray.controls; let i = index" [formGroupName]="i">
              <input [id]="'nutrient-key-' + i" placeholder="key" formControlName="key">
              <input [id]="'nutrient-value-' + i" placeholder="value" formControlName="value">
              <button type="button" (click)="removeNutrientField(i)">Remove Nutrient</button>
            </div>
          </div>
          <button type="button" (click)="addNutrientField()">Add Nutrient</button>

          <br>
          <ion-button *ngIf="!data" color="primary" type="submit" value="Save">Save</ion-button>
          <ion-button *ngIf="data" color="primary" type="button" value="Update"
            (click)="updateFood(foodForm)">Update</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>