<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> EMI Management </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openEmiModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


<ng-container >  
  <div *ngIf="emiList.length != 0">
    <ion-item-sliding *ngFor="let emi of emiList">
      <ion-item>
        <ion-label>
          <h1>Name : - {{emi.loan_name}}</h1>
          <p>Priority : - {{emi.emi_ammount}}</p>
          <p>Completed : {{emi.percentage}}</p>
          <p>Completed : {{emi.tenureIn_months}}</p>
          <p>Date : {{emi.lastdate | date: 'dd-MMM-yyyy'}}</p>
          <p>Completed : {{emi.description}}</p>
          <p>Date : {{emi.createdAt | date: 'dd-MMM-yyyy'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editEmi(emi)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteEmi(emi._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>

</ng-container>
</ion-content>
