<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!isModel">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="isModel">
      <ion-back-button defaultHref="/notemgnt" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isModel"> Note Management </ion-title>
    <ion-title *ngIf="isModel"> {{folderName}} </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="folder" (click)="editAddEditFolderModal()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="add" (click)="openNoteModal()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-searchbar *ngIf="!isModel" animated="true" placeholder="Search Notes"></ion-searchbar>

  <ion-card class="chose-category-grid">
    <div class="relative" *ngFor="let list of noteFolderList">
      <div *ngIf="list.type == 'FOLDER'" (click)="openNoteListModal(list._id,list.name)">
        <img src="../../../assets/img/folder.png" alt="" />
        <p>{{list.name}}</p>
      </div>
      <div *ngIf="list.type == 'NOTE'" (click)="presentActionSheet(list)">
        <img src="../../../assets/img/notes.png" alt="" />
        <p>{{list.name}}</p>
      </div>

    </div>
  </ion-card>
  <br /><br /><br />
</ion-content>