<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Note Management </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        class="right-menu"
        name="ellipsis-vertical-outline"
        (click)="presentActionSheet()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openNoteModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <br />
  <ion-card class="chose-category-grid">
    <div
      class="relative"
      (click)="openNoteListModal(list._id, list.name)"
      *ngFor="let list of folderList"
    >
      <img src="../../../assets/img/folder-icon.png" alt="" />
      <p>{{list.name}}</p>
    </div>
  </ion-card>
  <br /><br /><br />
</ion-content>

<ng-template #skeleton>
  <ion-item *ngFor="let item of [1, 2, 3, 4, 5,6,7,8,9]">
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>

  <!-- </ion-list> -->
</ng-template>
