<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/notemgnt"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!data" id="top">Add Folder</ion-title>
    <ion-title *ngIf="data" id="top">Update Folder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
        <div class="form-bg">
             <form [formGroup]="folderForm" (ngSubmit)="createFolder(folderForm)">
              <ion-item>
                <ion-label>Name : </ion-label>
                <ion-input type="text" placeholder="Title" formControlName="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Description : </ion-label>
                <ion-input type="text" placeholder="Content" formControlName="description"></ion-input>
              </ion-item>
                <br>
                <ion-button *ngIf="!data" color="primary" type="submit" value="Save">Save</ion-button>
                <ion-button *ngIf="data" color="secondary"  type="button" value="Update" (click)="updateFolder(folderForm)">Update</ion-button>
              </form>
        </div>
    </div>
</div>
</ion-content>
