<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/daymgnt"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="top">Goal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
        <div class="form-bg">
             <form [formGroup]="goalForm" (ngSubmit)="createGoal(goalForm)">
              <ion-item>
                <ion-label>Goal Title : </ion-label>
                <ion-input type="text" placeholder="Goal Title" formControlName="title"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Goal Type : </ion-label>
                <ion-select placeholder="Type" formControlName="type">
                  <ion-select-option value="short_term">SHORT TERM</ion-select-option>
                  <ion-select-option value="long_term">LONG TERM</ion-select-option>
                  <ion-select-option value="med_term">MED TERM</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Expected Completed Date : </ion-label>
                <ion-input type="date" formControlName="expectedCompleteddate"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Description : </ion-label>
                <ion-input type="text" placeholder="Goal Description" formControlName="description"></ion-input>
              </ion-item>
              <br>
              <ion-button color="primary" type="submit" value="Save">Save</ion-button>
              <ion-button color="secondary"  type="button" value="Update" (click)="updateGoal(goalForm)">Update</ion-button>
              </form>
        </div>
    </div>
</div>
</ion-content>
