<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/notemgnt"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!data" id="top">Add Folder</ion-title>
    <ion-title *ngIf="data" id="top">Update Folder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
        <div class="form-bg">
             <form [formGroup]="folderForm" (ngSubmit)="createFolder(folderForm)">
              
              <div class="form-group">
                <div
                  [ngClass]="{'has-error' : folderForm.get('name').errors && (folderForm.get('name').touched || folderForm.get('name').dirty) }">
    

              <ion-item>
                <ion-label>Name : </ion-label>
                <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
              </ion-item>
            </div>
            <span
            class="help-block"
            *ngIf=" folderForm.get('name').errors && (folderForm.get('name').touched || folderForm.get('name').dirty)"
          >
            <span    *ngIf="folderForm.get('name').errors?.required">
              <!-- <br> -->
              &nbsp;&nbsp;&nbsp;&nbsp;Title is required*
            </span>
            </span>
          </div>
          <br>


              <ion-item>
                <ion-label>Description : </ion-label>
                <ion-input type="text" placeholder="Description" formControlName="description"></ion-input>
              </ion-item>
                <br>



                <!-- <ion-button *ngIf="!data" color="primary" type="submit" value="Save">Save</ion-button>
                <ion-button *ngIf="data" color="secondary"  type="button" value="Update" (click)="updateFolder(folderForm)">Update</ion-button>
             
              -->
              <ion-button type="submit" [disabled]="folderForm.invalid" *ngIf='!data && folderForm.invalid' color="primary">save</ion-button>
    
              <ion-button type="submit" [disabled]="folderForm.invalid" *ngIf='!data && folderForm.valid' color="primary">Save
              </ion-button>
    
              <ion-button type="button" [disabled]="folderForm.invalid" *ngIf='data && folderForm.valid' color="primary"
                value="update" (click)="updateFolder(folderForm)">Update</ion-button>
              <ion-button type="button" [disabled]="folderForm.invalid" *ngIf='data && folderForm.invalid' color="primary"
                value="update" (click)="updateFolder(folderForm)">Update</ion-button>
           
              </form>
        </div>
    </div>
</div>
</ion-content>
