<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Day Management </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-container>
    <ion-item>
      <ion-label>Date : </ion-label>
      <ion-input type="date" [(ngModel)]="dateFilter" (ionChange)="getDateTask($event)"></ion-input>
    </ion-item>


<ion-item>
  <ion-label>Priority : </ion-label>
  <ion-select placeholder="Select :" (ionChange)="filterTask($event)">
    <ion-select-option value="HIGH">HIGH</ion-select-option>
    <ion-select-option value="MED">MED</ion-select-option>
    <ion-select-option value="LOW">LOW</ion-select-option>
  </ion-select>
</ion-item>

<hr>


<ion-item>
  <ion-label> Task Status : </ion-label>
  <ion-select placeholder="Select :" (ionChange)="filterTaskByStatus($event)">
    <ion-select-option value="true">DONE</ion-select-option>
    <ion-select-option value="false">NOT DONE</ion-select-option>
  </ion-select>
</ion-item>



    <ion-item-sliding *ngFor="let task of detailsList">
      <ion-item>
        <ion-label>
          <h5
            style="color: rgb(90, 141, 13);"
            *ngIf="task.isCompleted == true"
          >
            <s style="text-transform: capitalize;">{{task.task_name}}</s
            >&nbsp;&nbsp;( Done )&nbsp;
            <h5 style="color:brown !important">
              Date : {{task.date | date: 'dd-MMM-yyyy'}}
            </h5>
          </h5>
          <h5
            style="text-transform: capitalize;"
            *ngIf="task.isCompleted == false"
          >
            {{task.task_name}}&nbsp;

            <span style="color: blue !important;" *ngIf="task.priority == 'MED'"
              >( Medium )</span
            >
            <span
              style="color: blue !important;"
              *ngIf="task.priority == 'HIGH'"
              >( High )</span
            >
            <span style="color: blue !important;" *ngIf="task.priority == 'LOW'"
              >( Low )</span
            >
            <h5>Date : {{task.date | date: 'dd-MMM-yyyy'}}</h5>
          </h5>
        </ion-label>
        <ion-button
          *ngIf="task.isCompleted == false"
          (click)="taskCompleted(task)"
          class="button"
          type="submit"
          color="success"
          >Mark As Done</ion-button
        >
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editTask(task)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteTask(task._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <br />
    <p style="text-align:center" *ngIf="detailsList.length==0">
      No Tasks Found
    </p>
  </ng-container>
</ion-content>
