<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Time Manager </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-container>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item style="display: flex;flex-direction: column;" >
            <ion-label class="date-label">Choose Date</ion-label>
            <input type="date" [max]="formatCurrentDate" class="form-control" autocomplete="off" [value]="changeDate"
              [(ngModel)]="changeDate" placeholder="Select Date" (ngModelChange)="getDatedTask()" />
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row >
      <p class="next_preview" (click)="decreaseDate()">
        Previous
      </p>
      <p class="next_preview" *ngIf="!(changeDate >=formatCurrentDate)" (click)="increaseDate()">
        Next
      </p>
    </ion-row>

    <ion-item-sliding *ngFor="let task of detailsList">
      <ion-item>
        <ion-label>
          <h5 style="color: rgb(109, 110, 108);">

            <h4 style="text-transform: capitalize;">
              <span style="color: green;"> <ion-icon name="arrow-forward-outline"></ion-icon>
                {{task.task_id?.task_name}} </span>
              <span *ngIf="task.task_id.status == 'CREATED'"
                style="color: #1488e3;float: right;">{{task.task_id.status}}</span>
              <span *ngIf="task.task_id.status == 'DONE'"
                style="color: green;float: right;">&nbsp;{{task.task_id.status}}&nbsp;<img class="done" src="https://static.vecteezy.com/system/resources/previews/016/314/839/original/tick-mark-sign-free-png.png"></span>
              <span *ngIf="task.task_id.status == 'IN_PROGRESS'"
                style="color: rgb(201, 173, 18);float: right;">{{task.task_id.status}}</span>
              <span *ngIf="task.task_id.status == 'HOLD'"
                style="color: rgb(235, 223, 113);float: right;">{{task.task_id.status}}</span>
              <span *ngIf="task.task_id.status == 'BLOCKER'"
                style="color: rgb(199, 58, 19);float: right;">{{task.task_id.status}}</span>
            </h4>&nbsp;
            <h3 style="color:rgb(35, 29, 29) !important">
              Time : <span style="color: #1488e3;">{{task.duration_start_time | time24to12Transform}} -
                {{task.duration_end_time |
                time24to12Transform}}</span>
            </h3>


          </h5>
        </ion-label>
        <ion-button *ngIf="task.isCompleted == false" (click)="taskCompleted(task)" class="button" type="submit"
          color="success">Mark As Done</ion-button>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editTask(task)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <!-- <ion-item-option color="danger" (click)="deleteTask(task._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option> -->
        <ion-item-option color="secondary" (click)="presentActionSheet(task.task_id._id)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <br />

  </ng-container>
</ion-content>