<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/course-manager"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="top">
      <!-- <ion-icon name="folder-open-outline" style="color: white;"></ion-icon> -->
      &nbsp; {{ chapter.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openChapterEdit()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div >
   <div [innerHtml] = "chapter.content" ></div>
    <h1 *ngIf="chapter.link.length>0">Links</h1>
     <ul>
      <li *ngFor="let link of chapter.link">
        <a [href]="link">{{ link }}</a>
      </li>
    </ul>
   <h1 *ngIf="chapter.videoId.length>0">Video Links</h1>
    <ul>
      <li *ngFor="let link of chapter.videoId">
        <a [href]="link">{{ link }}</a>
      </li>
    </ul> 
  </div>
</ion-content>
