<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/course-manager"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="top">
      <!-- <ion-icon name="folder-open-outline" style="color: white;"></ion-icon> -->
      &nbsp; {{ chapter.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openChapterEdit()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="deleteChapter()">
      <ion-icon name="trash-outline"></ion-icon>    
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div [innerHtml]="chapter.content" style="padding: 0 5px"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 *ngIf="chapter.link.length>0" class="section-heading">Links</h2>
        <ul class="links">
          <li *ngFor="let link of chapter.link">
            <a [href]="link">{{ link }}</a>
          </li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 *ngIf="chapter.videoId.length>0" class="section-heading">
          Video Links
        </h2>
        <ul class="links">
          <li *ngFor="let link of chapter.videoId">
            <a [href]="link">{{ link }}</a>
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
