.grid-box{
  box-shadow: none;
  text-align: center;
  margin: 0px;
}
.profile-img-box{
  padding: 30px 0px 6px;
  text-align: center;
  display: block;
}
.profile-img-box img{
  width: 140px;
  border-radius: 100%;
  height: 140px;
  object-fit: cover;
}



.profile-img-box h6{
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 22px;
  color: var(--ion-text-color);
}
.member-info-tab{
  background-color: var(--ion-info-tabs-bgcolor);
  padding: 0px;
  border-bottom: 1px solid var(--ion-border-color);
}
.text-center{
  text-align: center;
  padding: 5px 0px;
}

.centered {
    margin-top: 52px;
    font-size: 45px;
    color: white;
    margin-bottom: -42px;
    margin-left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #4fa0e4;
    border-radius: 100%;
    height: 140px;
    width: 140px;
    display: block;
    text-align: center;
    line-height: 137px;
}

.wallet-amount{
  border-right: 1px solid #ccc;
}
.wallet-amount span{
  display: block;
  font-size: 24px;
}
.toggle-button ion-toggle{
  display: block;
  margin: 0 auto;
  margin-bottom: -5px;
  margin-top: -4px;
}
.toggle-button ion-label,
.wallet-amount ion-label{
  font-size: 12px;
}
.card-box{
  box-shadow: none;
  --background: transparent;
}
.card-box .row{
  clear: both;
  padding: 15px 0px;
  overflow: hidden;
}
.card-box .row + .row{
  border-top: 1px solid var(--ion-border-color);
}
.card-box ion-label{
  color: #7b7b7b;
  display: block;
  font-size: 12px;
}
.card-box ion-text{
  color: var(--ion-text-color);
  font-size: 16px;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.header .top-left{
  display: flex;
}

.loyal-img{
  width: 89px;
  height: 113px;
  margin-bottom: -70px;
}
