<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/daymgnt"
        (click)="closeModal(false)"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="top">Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <form [formGroup]="taskForm" (ngSubmit)="submit(taskForm)">
      <ion-row>
        <ion-col>
          <div
            class="form-field"
            [ngClass]="{'has-error' : taskForm.get('category').errors && (taskForm.get('category').touched || taskForm.get('category').dirty) }"
          >
            <ion-select
              *ngIf = "!isFreeBoard"
              placeholder="Select Category"
              formControlName="category"
            >
              <ion-select-option value="HABIT">Habit</ion-select-option>
              <ion-select-option value="HOBBIE">Hobbie</ion-select-option>

              <ion-select-option value="ENTERTAINMENT"
                >Entertainment</ion-select-option
              >
              <ion-select-option value="IMP_WORK">Imp Work</ion-select-option>
              <ion-select-option value="BUSINESS_EXTRA_WORK"
                >Business/Extra Work</ion-select-option
              >
              <ion-select-option value="TRAVEL">Travel</ion-select-option>
              <ion-select-option value="OFFICE">Office</ion-select-option>
              <ion-select-option value="HOUSE_WORK"
                >House Work</ion-select-option
              >
              <ion-select-option value="REST">Rest</ion-select-option>
            </ion-select>
          </div>
          <span
            class="help-block"
            *ngIf=" taskForm.get('category').errors && (taskForm.get('category').touched || taskForm.get('category').dirty)"
          >
            <span
              *ngIf="taskForm.get('category').errors?.required"
              class="error"
            >
              Category is required*
            </span>
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div
            class="form-field"
            [ngClass]="{'has-error' : taskForm.get('task_name').errors && (taskForm.get('task_name').touched || taskForm.get('task_name').dirty) }"
          >
            <ion-input
              type="text"
              placeholder="Task Name"
              formControlName="task_name"
            ></ion-input>
          </div>
          <span
            class="help-block"
            *ngIf=" taskForm.get('task_name').errors && (taskForm.get('task_name').touched || taskForm.get('task_name').dirty)"
          >
            <span
              *ngIf="taskForm.get('task_name').errors?.required"
              class="error"
            >
              Task Name is required*
            </span>
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div
          *ngIf = "!isFreeBoard"
            class="form-field"
            [ngClass]="{'has-error' : taskForm.get('duration_type').errors && (taskForm.get('duration_type').touched || taskForm.get('duration_type').dirty) }"
          >
            <div class="label-with-field">
              <ion-label class="field-label">Duration: </ion-label>
              <ion-select
                placeholder="Duration"
                formControlName="duration_type"
                (ionChange)="handleDurationChange()"
              >
                <ion-select-option value="day">Day</ion-select-option>
                <ion-select-option value="week">Week</ion-select-option>
                <ion-select-option value="month">Month</ion-select-option>
              </ion-select>
            </div>
          </div>
          <span
            class="help-block"
            *ngIf=" taskForm.get('duration_type').errors && (taskForm.get('duration_type').touched || taskForm.get('duration_type').dirty)"
          >
            <span *ngIf="taskForm.get('duration_type').errors?.required">
              <!-- <br> -->
              &nbsp;&nbsp;&nbsp;&nbsp;Duration Type is required*
            </span>
          </span>
        </ion-col>
        <ion-col>
          <div
            class="form-field"
            [ngClass]="{'has-error' : taskForm.get('priority').errors && (taskForm.get('priority').touched || taskForm.get('priority').dirty) }"
          >
            <div class="label-with-field"  
            *ngIf = "!isFreeBoard" >
              
              <ion-label class="field-label">Priority: </ion-label>
              <ion-select placeholder="Select :" formControlName="priority">
                <ion-select-option value="HIGH">HIGH</ion-select-option>
                <ion-select-option value="MED">MED</ion-select-option>
                <ion-select-option value="LOW">LOW</ion-select-option>
              </ion-select>
            </div>
          </div>
          <span
            class="help-block"
            *ngIf=" taskForm.get('priority').errors && (taskForm.get('priority').touched || taskForm.get('priority').dirty)"
          >
            <span
              *ngIf="taskForm.get('priority').errors?.required"
              class="error"
            >
              Priority is required*
            </span>
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div
            class="form-field"
            [ngClass]="{'has-error' : taskForm.get('duration_start_date').errors && (taskForm.get('duration_start_date').touched || taskForm.get('duration_start_date').dirty) }"
          >
            <div class="label-with-field" *ngIf = "!isFreeBoard"   >
              <ion-label class="field-label">Start Date: </ion-label>
              <ion-input
                type="date"
                formControlName="duration_start_date"
                (ionChange)="handleDurationChange()"
                aria-placeholder="Start Date"
                placeholder="Start Date"
              ></ion-input>
            </div>
          </div>
          <span
            class="help-block"
            *ngIf=" taskForm.get('duration_start_date').errors && (taskForm.get('duration_start_date').touched || taskForm.get('duration_start_date').dirty)"
          >
            <span
              *ngIf="taskForm.get('duration_start_date').errors?.required"
              class="error"
            >
              Start Date is required*
            </span>
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div
            class="form-field"
            [ngClass]="{'has-error' : taskForm.get('duration_end_date').errors && (taskForm.get('duration_end_date').touched || taskForm.get('duration_end_date').dirty) }"
          >
            <div class="label-with-field"    *ngIf = "!isFreeBoard"    >
              <ion-label class="field-label">End Date: </ion-label>
              <ion-input
                type="date"
                formControlName="duration_end_date"
                aria-placeholder="End Date"
              ></ion-input>
            </div>
          </div>
          <span
            class="help-block"
            *ngIf=" taskForm.get('duration_end_date').errors && (taskForm.get('duration_end_date').touched || taskForm.get('duration_end_date').dirty)"
          >
            <span
              *ngIf="taskForm.get('duration_end_date').errors?.required"
              class="error"
            >
              End Date is required*
            </span>
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="form-field"
          *ngIf = "!isFreeBoard" 
          >
            <input
              placeholder="Start Time"
              formControlName="duration_start_time"
              [ngxTimepicker]="startTime"
              class="custom-input"
            />
            <ngx-material-timepicker #startTime></ngx-material-timepicker>
          </div>
        </ion-col>
      </ion-row>
      <!-- <br />
          <div class="form-group">
            <div
              [ngClass]="{'has-error' : taskForm.get('priority').errors && (taskForm.get('priority').touched || taskForm.get('priority').dirty) }">
              <ion-item>
                <ion-label>recuring : </ion-label>
                <input type="checkbox">
              </ion-item>
            </div>
            <span class="help-block"
              *ngIf=" taskForm.get('priority').errors && (taskForm.get('priority').touched || taskForm.get('priority').dirty)">
              <span *ngIf="taskForm.get('priority').errors?.required">
                &nbsp;&nbsp;&nbsp;&nbsp;Priority is required*
              </span>
            </span>
          </div>
          <br /> -->

      <!-- <div class="form-group">
            <div
              [ngClass]="{'has-error' : taskForm.get('priority').errors && (taskForm.get('priority').touched || taskForm.get('priority').dirty) }">
              <ion-item>
                <ion-label>Tags : </ion-label>
                <input type="checkbox">
              </ion-item>
            </div>
            <span class="help-block"
              *ngIf=" taskForm.get('priority').errors && (taskForm.get('priority').touched || taskForm.get('priority').dirty)">
              <span *ngIf="taskForm.get('priority').errors?.required">
                &nbsp;&nbsp;&nbsp;&nbsp;Priority is required*
              </span>
            </span>
          </div>
          <br /> -->
        
      <ion-row>
        <ion-col>
          <ion-button type="submit" *ngIf="!data" color="primary"
            >Save</ion-button
          >

          <ion-button
            type="submit"
            [disabled]="taskForm.invalid"
            *ngIf="data"
            color="primary"
            value="update"
            >Update</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
