<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/daymgnt"
        (click)="closeModal(false)"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="top">Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
        <div class="form-bg">
             <form [formGroup]="taskForm" (ngSubmit)="createTask(taskForm)">
             
             
             
              <div class="form-group">
                <div
                  [ngClass]="{'has-error' : taskForm.get('task_name').errors && (taskForm.get('task_name').touched || taskForm.get('task_name').dirty) }">
    
              <ion-item>
                <ion-label>Task Name : </ion-label>
                <ion-input type="text" placeholder="Task Name" formControlName="task_name"></ion-input>
              </ion-item>
            </div>
            <span class="help-block"
              *ngIf=" taskForm.get('task_name').errors && (taskForm.get('task_name').touched || taskForm.get('task_name').dirty)">
             
            <span *ngIf="taskForm.get('task_name').errors?.required">
              <!-- <br> -->
              &nbsp;&nbsp;&nbsp;&nbsp;Task Name is required*
            </span>
            </span>
          </div>
              <br>

              <div class="form-group">
                <div
                  [ngClass]="{'has-error' : taskForm.get('priority').errors && (taskForm.get('priority').touched || taskForm.get('priority').dirty) }">
    
              <ion-item>
                <ion-label>Priority : </ion-label>
                <ion-select placeholder="Select :" formControlName="priority">
                  <ion-select-option value="HIGH">HIGH</ion-select-option>
                  <ion-select-option value="MED">MED</ion-select-option>
                  <ion-select-option value="LOW">LOW</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <span class="help-block"
            *ngIf=" taskForm.get('priority').errors && (taskForm.get('priority').touched || taskForm.get('priority').dirty)">
           
            <span  *ngIf="taskForm.get('priority').errors?.required">
              <!-- <br> -->
              &nbsp;&nbsp;&nbsp;&nbsp;Priority is required*
            </span>
            </span>
          </div>
              <br>



              <div class="form-group">
                <div
                  [ngClass]="{'has-error' : taskForm.get('isCompleted').errors && (taskForm.get('isCompleted').touched || taskForm.get('isCompleted').dirty) }">
    
              <ion-item>
                <ion-label>Is Task Completed ? </ion-label>
                <ion-select placeholder="Select :" formControlName="isCompleted">
                  <ion-select-option value="true">YES</ion-select-option>
                  <ion-select-option value="false">NO</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <span class="help-block"
            *ngIf=" taskForm.get('isCompleted').errors && (taskForm.get('isCompleted').touched || taskForm.get('isCompleted').dirty)">
           
            <span class="help-block" *ngIf="taskForm.get('isCompleted').errors?.required">
              <!-- <br> -->
              &nbsp;&nbsp;&nbsp;&nbsp;Field required*
            </span>
            </span>
          </div>
              <br>


              <div class="form-group">
                <div
                  [ngClass]="{'has-error' : taskForm.get('date').errors && (taskForm.get('date').touched || taskForm.get('date').dirty) }">
    
              <ion-item>
                <ion-label>Date : </ion-label>
                <ion-input type="date" formControlName="date"></ion-input>
              </ion-item>
            </div>
            <span class="help-block"
            *ngIf=" taskForm.get('date').errors && (taskForm.get('date').touched || taskForm.get('date').dirty)">
           
            <span  *ngIf="taskForm.get('date').errors?.required">
              <!-- <br> -->
              &nbsp;&nbsp;&nbsp;&nbsp;Date is required*
            </span>
            </span>
          </div>
<br>


                <!-- <ion-button *ngIf="!data" color="primary" type="submit" value="Save">Save</ion-button>
                <ion-button *ngIf="data" color="secondary"  type="button" value="Update" (click)="updateTask(taskForm)">Update</ion-button>
 -->


                <ion-button type="submit" [disabled]="taskForm.invalid" *ngIf='!data && taskForm.invalid' color="primary">save (Please
                  Fill all Required* fields First)</ion-button>
      
                <ion-button type="submit" [disabled]="taskForm.invalid" *ngIf='!data && taskForm.valid' color="primary">Save
                </ion-button>
      
                <ion-button type="button" [disabled]="taskForm.invalid" *ngIf='data && taskForm.valid' color="primary"
                  value="update" (click)="updateTask(taskForm)">Update</ion-button>
                <ion-button type="button" [disabled]="taskForm.invalid" *ngIf='data && taskForm.invalid' color="primary"
                  value="update" (click)="updateTask(taskForm)">Update(Please Fill all
                  Required*
                  fields First)</ion-button>
             
             
              </form>
        </div>
    </div>
</div>
</ion-content>
