<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Todo Tracker </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col>
        <div class="nav-btns">
          <ion-icon
            name="chevron-back-outline"
            (click)="decreaseDate()"
          ></ion-icon>
          <!-- *ngIf="duration_type == 'DAY'" -->
        </div>
      </ion-col>
      <ion-col>
        <div class="filter-option">
          <ion-select
            (ionChange)="handleChangeDate(changeDate)"
            placeholder="Select :"
            [(ngModel)]="duration_type"
          >
            <ion-select-option value="DAY">Day</ion-select-option>
            <!-- <ion-select-option value="WEEK">Week</ion-select-option> -->
            <ion-select-option value="MONTH">Month</ion-select-option>
          </ion-select>
          <div class="filter-input">
            <!-- [max]="formatCurrentDate" -->
            <input
              type="date"
              class="form-control"
              autocomplete="off"
              [value]="changeDate"
              [(ngModel)]="changeDate"
              placeholder="Select Date"
              (ngModelChange)="handleChangeDate(changeDate)"
              style="border-radius: 5px; padding: 10px"
            />
          </div>
          <!-- <div class="filter-input" *ngIf="duration_type == 'MONTH'">
            <input
              type="month"
              [max]="formatCurrentDate"
              class="form-control"
              autocomplete="off"
              [value]="changeDate"
              [(ngModel)]="changeDate"
              placeholder="Select Date"
              (ngModelChange)="handleChangeDate(changeDate)"
              style="border-radius: 5px; padding: 10px"
            />
          </div> -->
        </div>
      </ion-col>

      <ion-col>
        <div class="nav-btns right-btn">
          <ion-icon
            name="chevron-forward-outline"
            (click)="increaseDate()"
          ></ion-icon>
          <!-- *ngIf="!(changeDate >=formatCurrentDate)" -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container>
    <ion-item-sliding *ngFor="let task of detailsList">
      <ion-item
        (click)="showInfo(task.duration_start_date,task.duration_end_date)"
      >
        <ion-label>
          <div style="text-transform: capitalize" class="todo-row">
            <div class="todo-item">
              <span>{{task.task_name}}</span>
              <span class="category">{{task.category}} </span>
            </div>
            <span
              *ngIf="task.status == 'CREATED'"
              style="color: #1488e3; float: right"
              >{{task.status}}</span
            >
            <span
              *ngIf="task.status == 'DONE'"
              style="color: green; float: right"
              >{{task.status}}</span
            >
            <span
              *ngIf="task.status == 'IN_PROGRESS'"
              style="color: rgb(201, 173, 18); float: right"
              >{{task.status}}</span
            >
            <span
              *ngIf="task.status == 'HOLD'"
              style="color: rgb(235, 223, 113); float: right"
              >{{task.status}}</span
            >
            <span
              *ngIf="task.status == 'BLOCKER'"
              style="color: rgb(199, 58, 19); float: right"
              >{{task.status}}</span
            >
          </div>
          <!-- <div>Category : {{task.category}}</div> -->
        </ion-label>
        <ion-button
          *ngIf="task.isCompleted == false"
          (click)="taskCompleted(task)"
          class="button"
          type="submit"
          color="success"
          >Mark As Done</ion-button
        >
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editTask(task)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <!-- <ion-item-option color="danger" (click)="deleteTask(task._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option> -->
        <ion-item-option
          color="secondary"
          (click)="presentActionSheet(task._id)"
        >
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <br />
    <p class="no_record" *ngIf="!detailsList.length">No Tasks Found</p>
  </ng-container>
</ion-content>
