<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Task Manager </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-container>
    <ion-grid>
      <ion-row class="date-row">
        <ion-col size="12">
          <ion-item>
            <ion-label>Duration : </ion-label>
            <ion-select placeholder="Select :" [(ngModel)]="duration_type"  >
              <ion-select-option value="DAY">Day</ion-select-option>
              <!-- <ion-select-option value="WEEK">Week</ion-select-option> -->
              <ion-select-option value="MONTH">Month</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>

        <ion-col>
          <ion-item style="display: flex;flex-direction: column;" *ngIf="duration_type == 'DAY'">
            <ion-label class="date-label">Choose Date</ion-label>
            <input type="date" [max]="formatCurrentDate" class="form-control" autocomplete="off" [value]="changeDate"
              [(ngModel)]="changeDate" placeholder="Select Date" (ngModelChange)="handleChangeDate(changeDate)" />
          </ion-item>
          <!-- <ion-item style="display: flex;flex-direction: column;" *ngIf="duration_type == 'WEEK'">
            <ion-label class="date-label">Choose Week</ion-label>
            <input type="week" [max]="formatCurrentDate" class="form-control" autocomplete="off" [value]="changeDate"
              [(ngModel)]="changeDate" placeholder="Select Date" (ngModelChange)="handleChangeDate(changeDate)" />
          </ion-item> -->
          <ion-item style="display: flex;flex-direction: column;" *ngIf="duration_type == 'MONTH'">
            <ion-label class="date-label">Choose Month</ion-label>
            <input type="month" [max]="formatCurrentDate" class="form-control" autocomplete="off" [value]="changeDate"
              [(ngModel)]="changeDate" placeholder="Select Date" (ngModelChange)="handleChangeDate(changeDate)" />
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row  *ngIf="duration_type == 'DAY'">
      <p class="next_preview" (click)="decreaseDate()">
        Previous
      </p>
      <p  class="next_preview"  *ngIf="!(changeDate >=formatCurrentDate)" (click)="increaseDate()">
        Next
      </p>
    </ion-row>
    <hr style="height: 1px;background: teal;">
    <br />
    <ion-item-sliding *ngFor="let task of detailsList">
      <ion-item (click)="showInfo(task.duration_start_date,task.duration_end_date)">
        <ion-label>
          <div style="text-transform: capitalize;">{{task.task_name}} <span class="category">({{task.category}}) </span>
            <span *ngIf="task.status == 'CREATED'" style="color: #1488e3;float: right;">{{task.status}}</span>
            <span *ngIf="task.status == 'DONE'" style="color: green;float: right;">{{task.status}}</span>
            <span *ngIf="task.status == 'IN_PROGRESS'" style="color: rgb(201, 173, 18);float: right;">{{task.status}}</span>
            <span *ngIf="task.status == 'HOLD'" style="color: rgb(235, 223, 113);float: right;">{{task.status}}</span>
            <span *ngIf="task.status == 'BLOCKER'" style="color: rgb(199, 58, 19);float: right;">{{task.status}}</span>
          </div>
          <!-- <div>Category : {{task.category}}</div> -->
           
        </ion-label>
        <ion-button *ngIf="task.isCompleted == false" (click)="taskCompleted(task)" class="button" type="submit"
          color="success">Mark As Done</ion-button>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editTask(task)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <!-- <ion-item-option color="danger" (click)="deleteTask(task._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option> -->
        <ion-item-option color="secondary" (click)="presentActionSheet(task._id)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <br />
    <p class="no_record" *ngIf="!detailsList.length"> No Tasks Found</p>

  </ng-container>
</ion-content>