<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/credential-manager"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isEditMode" id="top">Add credential</ion-title>
    <ion-title *ngIf="isEditMode" id="top">Update credential</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <form [formGroup]="credentialForm" (ngSubmit)="addCredential(credentialForm)">
      <ion-row>
        <ion-col>
          <div class="form-field">
            <ion-input
              type="text"
              placeholder="App Name"
              formControlName="appName"
            ></ion-input>
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <div class="form-field">
            <ion-input
              type="text"
              placeholder="Enter user id"
              formControlName="source"
            ></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="form-field">
            <ion-input
              type="text"
              placeholder="Enter Password"
              formControlName="password"
            ></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="form-field">
            <ion-input
              type="text"
              placeholder="Enter Pin"
              formControlName="salt"
            ></ion-input>
          </div>
        </ion-col>
      </ion-row>
      
   

      <br />
      <ion-button *ngIf="!data" color="primary" type="submit" value="Save"
        >Save</ion-button
      >
      <ion-button
        *ngIf="data"
        color="primary"
        type="button"
        value="Update"
        (click)="updateCredential(credentialForm)"
        >Update</ion-button
      >
    </form>
  </ion-grid>
</ion-content>
