<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/daymgnt"
        (click)="closeModal(false)"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="top">Routine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <form [formGroup]="routineForm" (ngSubmit)="submit(routineForm)">
      <ion-row>
        <ion-col>
          <div class="form-field">
            <div
              [ngClass]="{'has-error' : routineForm.get('name').errors && (routineForm.get('name').touched || routineForm.get('name').dirty) }"
            >
              <ion-input
                type="text"
                placeholder="Routine Name"
                formControlName="name"
              ></ion-input>
            </div>
            <span
              class="help-block"
              *ngIf=" routineForm.get('name').errors && (routineForm.get('name').touched || routineForm.get('name').dirty)"
            >
              <span *ngIf="routineForm.get('name').errors?.required">
                <!-- <br> -->
                &nbsp;&nbsp;&nbsp;&nbsp;Routine Name is required*
              </span>
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="form-field">
            <div
              [ngClass]="{'has-error' : routineForm.get('period').errors && (routineForm.get('period').touched || routineForm.get('period').dirty) }"
            >
              <ion-select placeholder="Select :" formControlName="period">
                <ion-select-option value="morning">Morning</ion-select-option>
                <ion-select-option value="noon">Noon</ion-select-option>
                <ion-select-option value="evening">Evening</ion-select-option>
                <ion-select-option value="night">Night </ion-select-option>
              </ion-select>
            </div>
            <span
              class="help-block"
              *ngIf=" routineForm.get('period').errors && (routineForm.get('period').touched || routineForm.get('period').dirty)"
            >
              <span *ngIf="routineForm.get('period').errors?.required">
                <!-- <br> -->
                Period is required*
              </span>
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" *ngIf="!data" color="primary"
            >Save</ion-button
          >

          <ion-button
            type="submit"
            [disabled]="routineForm.invalid"
            *ngIf="data"
            color="primary"
            value="update"
            >Update</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
