<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/video-manager"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <button (click)="editVideo(video)" class="top-right-btn">Edit</button>

    <ion-title id="top"> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img *ngIf="video.imageUrl" [src]="video.imageUrl" alt="" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{video.name}} </ion-card-title>
      <img class="img-box" *ngIf="video.images" [src]="video.images" />
    </ion-card-header>

    <ion-card-content>
      <div innerHtml="{{ video.content }}">{{video.content}}</div>
    </ion-card-content>
  </ion-card>

  <div class="video-list">
    <ul>
      <li *ngFor="let link of video?.links;let i = index">
        <a [href]="link" target="_blank"> Link {{i+1}}</a>
      </li>
    </ul>
  </div>

  <!-- <div>
    <div *ngFor="let link of video?.links; let i = index">
      <a [href]="link">{{ i }}</a>
    </div>
  </div> -->
</ion-content>
