<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start" *ngIf="isModel">
      <ion-back-button
        defaultHref="/notemgnt"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons> -->
    <ion-title> Course Manager </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" (click)="openAddCourseModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid [fixed]="true">
    <!-- <ion-row *ngFor="let course of courseList" class="courseList">
      <ion-col size="9" (click)="previewCourse(course)">
        {{ course.name }}
      </ion-col>
      <ion-col size="3" style="text-align: right; padding-right: 8px">
        <ion-checkbox
          [(ngModel)]="course.status"
          (ionChange)="updateCourseStatus(course)"
        ></ion-checkbox>
      </ion-col>
    </ion-row> -->
    
    <ion-item-sliding *ngFor="let course of courseList">
      <ion-item
        (click)="previewCourse(course)"
      >
        <ion-label>
          <div style="text-transform: capitalize" class="todo-row">
            <div class="todo-item">
              <span>        {{ course.name }}              </span>
            </div>
           
            <span
              *ngIf="course.status == 'COMPLETED'"
              style="color: green; float: right"
              >{{course.status}}</span
            >
            <span
              *ngIf="course.status == 'IN_PROGRESS'"
              style="color: rgb(201, 173, 18); float: right"
              >{{course.status}}</span
            >
            <span
              *ngIf="course.status == 'TODO'"
              style="color: rgb(235, 223, 113); float: right"
              >{{course.status}}</span
            >
          </div>
          <!-- <div>Category : {{course.category}}</div> -->
        </ion-label>
        <ion-button
          *ngIf="course.isCompleted == false"
          (click)="taskCompleted(course)"
          class="button"
          type="submit"
          color="success"
          >Mark As Done</ion-button
        >
      </ion-item>
      <ion-item-options side="end">
        <!-- <ion-item-option color="danger" (click)="deleteTask(course._id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option> -->
        <ion-item-option
          color="secondary"
          (click)="presentActionSheet(course)"
        >
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>




    <div
      *ngIf="courseList.length===0"
      style="display: flex; justify-content: center; align-items: center"
    >
      no records found
    </div>
  </ion-grid>

  <br /><br /><br />
</ion-content>
