.folder {
  height: 20%;
  width: 25%;
}

.folder img {
  height: 100%;
  width: 100%;
}

.folder-name {
  margin-top: -10px;
  margin-left: 30px;
}
// ion-menu-button {
//   color: var(--ion-color-primary);
// }

// #container {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 108%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;
//   color: #8c8c8c;
//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

// .inventoryFilter{
//   width: 30%;
// }

.search {
  margin-right: -16px;
}
.category h2 {
  text-align: center;
}
.category ion-col {
  padding: 8px;
}
.category-main .relative {
  background-color: var(--ion-item-background);
  padding: 15px;
  text-align: center;
  box-shadow: var(--ion-card-shadow);
  border-radius: 10px;
}
// .category-main .relative:hover{
//   background-color: #fc813a;
//   box-shadow: 0px 0px 10px #ccc;
// }
// .category-main .relative:hover svg,
// .category-main .relative:hover p,
// .category-main .relative:hover span{
//   color: #fff;
//   fill: #fff;
// }
.category-main .relative svg {
  width: 80px;
  height: 100px;
}
.category-main .relative p {
  margin-bottom: 0px;
  margin-top: 5px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.category-main .relative span {
  font-size: 12px;
  color: #989898;
}
.cat-img {
  height: 70px !important;
  width: 70px !important;
  margin: 0 auto !important;
}

.budget-label {
  font-size: 16px;
  // font-family: initial;
  margin-left: 10px;
  font-weight: 500;
  margin-bottom: 20px;
}
.note-card {
  text-align: center;
  height: 100%;
  // max-width: 180px;
  /* ion-card {
    height: calc(100% - 46px);
  } */
  .setting-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
}

.chose-category-grid {
  box-shadow: none;
  margin: 0px;
  padding: 10px;
  .relative {
    box-shadow: 0px 0px 10px #ccc;
    display: inline-block;
    width: 22%;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    margin-top: 9px;
    img {
      width: 40px;
      height: 40px;
    }
    p {
      // font-weight: bold;
      font-size: 13px;
    }
  }
}
.courseList {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
.course-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .course-status {
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
  }
}
