<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start" *ngIf="isModel">
      <ion-back-button
        defaultHref="/notemgnt"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons> -->
    <ion-title > Course Manager </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" (click)="openAddCourseModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid [fixed]="true">
    <ion-row *ngFor="let course of courseList" style="display: flex; justify-content: space-between;align-items: center;">
      <ion-col size="9" sizeMd="4" (click)="previewCourse(course)">
        {{ course.name }}
      </ion-col>
      <ion-row size="3" style="gap: 4px;align-items: center;" sizeMd="4">
          <ion-checkbox [(ngModel)]="course.status" (ionChange)="updateCourseStatus(course)"></ion-checkbox>        </ion-row>
    </ion-row>
    <div *ngIf="courseList.length===0" style="display:flex;justify-content:center;align-items: center;">
      no records found
    </div>
  </ion-grid>

  <br /><br /><br />
</ion-content>

