.capitial-text{
    text-transform: capitalize !important
}

.img-box{
    width: 1000px;
    height: 100px;
    margin-top: 20px;
 }

 .upload-img{

    margin-top: 20px !important;

 }
.help-block{
    color:red;
    padding-top: 10%;
    // padding-top: 2px;
    // margin-left: 70%;
}

.link-container input{
   margin-left: 10px;
   padding: 10px 10px;
   margin-bottom: 5px;
   width: 80%;
}