<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/notemgnt"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!data" id="top">Add Note</ion-title>
    <ion-title *ngIf="data" id="top">Update Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    

    <div class="row">
      <div class="form-bg">
        <form [formGroup]="noteForm" (ngSubmit)="addNote(noteForm)">
          <ion-item>
            <ion-label>Title : </ion-label>
            <ion-input
              type="text"
              placeholder="Title"
              formControlName="name"
            ></ion-input>
          </ion-item>
          
          <br />
          <ion-item>
            <textarea
              placeholder="Content"
              formControlName="content"
              rows="4"
              cols="50"
            ></textarea>
          </ion-item>
          <br />
          <!-- <ion-item>
            <ion-label>Link : </ion-label>
            <ion-input
              type="text"
              placeholder="Link"
              formControlName="link"
            ></ion-input>
          </ion-item> -->

          
          <ion-button *ngIf="!data" color="primary" type="submit" value="Save"
            >Save</ion-button
          >
          <ion-button
            *ngIf="data"
            color="primary"
            type="button"
            value="Update"
            (click)="updateNote(noteForm)"
            >Update</ion-button
          >
        </form>
      </div>
    </div>
  </div>
</ion-content>
