<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/notemgnt"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title  *ngIf="!data" id="top">Add Note</ion-title>
    <ion-title  *ngIf="data" id="top">Update Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <ion-row style="width:100%" style="justify-content: flex-end;padding: 10px 0px;">
      <ion-button class="upload-img" (click)="selectImagefromMobille()">
        Upload Image  &nbsp;&nbsp;<ion-icon  name="cloud-upload-sharp"></ion-icon>
      </ion-button>
      </ion-row>
      
      <div class="row">
        <div class="form-bg">
          <form [formGroup]="noteForm" (ngSubmit)="createNote(noteForm)">
            
            
            <div class="form-group">
              <div
                [ngClass]="{'has-error' : noteForm.get('title').errors && (noteForm.get('title').touched || noteForm.get('title').dirty) }">
  
            
            <ion-item>
              <ion-label>Title : </ion-label>
              <ion-input type="text" placeholder="Title" formControlName="title"></ion-input>
            </ion-item>
            </div>

            <span
            class="help-block"
            *ngIf=" noteForm.get('title').errors && (noteForm.get('title').touched || noteForm.get('title').dirty)"
          >
            <span class="help-block" *ngIf="noteForm.get('title').errors?.required">
              <!-- <br> -->
              &nbsp;&nbsp;&nbsp;&nbsp;Title is required*
            </span>
            </span>
          </div>
          <br>



          <div class="form-group">
            <div
              [ngClass]="{'has-error' : noteForm.get('date').errors && (noteForm.get('date').touched || noteForm.get('date').dirty) }">

          
            <ion-item>
              <ion-label>Date : </ion-label>
              <ion-input type="date" formControlName="date"></ion-input>
            </ion-item>
</div>
<span
class="help-block"
*ngIf=" noteForm.get('date').errors && (noteForm.get('date').touched || noteForm.get('date').dirty)"
>
<span class="help-block" *ngIf="noteForm.get('date').errors?.required">
  <!-- <br> -->
  &nbsp;&nbsp;&nbsp;&nbsp;Date is required*
</span>
</span>
</div>
<br>




            <!-- <img [src]="url"> -->
            <div class="form-group">
              <div
                [ngClass]="{'has-error' : noteForm.get('folder_id').errors && (noteForm.get('folder_id').touched || noteForm.get('folder_id').dirty) }">
  
            
            <ion-item>
                <ion-label>Folder : </ion-label>
                <ion-select placeholder="Select Folder :" formControlName="folder_id">
                  <section  *ngFor="let folder of folderList">
                    <ion-select-option value="{{ folder._id }}">{{ folder.name }}</ion-select-option>
                </section>
                </ion-select>
              </ion-item>
              </div>
              <span
              class="help-block"
              *ngIf=" noteForm.get('folder_id').errors && (noteForm.get('folder_id').touched || noteForm.get('folder_id').dirty)"
              >
              <span class="help-block" *ngIf="noteForm.get('folder_id').errors?.required">
                <!-- <br> -->
                &nbsp;&nbsp;&nbsp;&nbsp;Folder is required*
              </span>
              </span>
              </div>
         



                <br>
                <!-- <ion-button *ngIf='!data' color="primary" type="submit" value="Save">Save</ion-button>
                <ion-button *ngIf='data'  color="secondary"  type="button" value="Update" (click)="updateNote(noteForm)">Update</ion-button>
              -->
             
                <ion-button type="submit" [disabled]="noteForm.invalid" *ngIf='!data && noteForm.invalid' color="primary">save</ion-button>

                <ion-button type="submit" [disabled]="noteForm.invalid" *ngIf='!data && noteForm.valid' color="primary">Save
                </ion-button>
      
                <ion-button type="button" [disabled]="noteForm.invalid" *ngIf='data && noteForm.valid' color="primary" value="update"
                  (click)="updateNote(noteForm)">Update</ion-button>
                <ion-button type="button" [disabled]="noteForm.invalid" *ngIf='data && noteForm.invalid' color="primary"
                  value="update" (click)="updateNote(noteForm)">Update</ion-button>
      
      
             
             
             
             
             
             
             
             
              </form>
        </div>
        <ion-item>
          <ckeditor [(ngModel)]="noteContent" 
          [(ngModel)]="ckeditorContent">
            <ckbutton [name]="'saveButton'"
              [command]="'saveCmd'"
              (click)="save($event)"
              [icon]="'save.png'"
              [label]="'Save Document'"
              [toolbar]="'clipboard,1'">
            </ckbutton>
        </ckeditor> 
      </ion-item>
    </div>
</div>
</ion-content>
