<ion-content padding>
<div class="edit-model-header">
    <ion-back-button slot="start" defaultHref="/account" (click)="closeModal()"></ion-back-button>
    <ion-title>Edit Profile</ion-title>
</div>

    <form class="profile-popup" [formGroup]="editProfileForm" (ngSubmit)="submit(editProfileForm)">
        <!-- <ion-icon name="close-circle" (click)="closeModal()" style="height: 30px; width:50px;float: right;"></ion-icon> -->
        <ion-grid>
            <ion-row>
                <ion-item class="pb-40" style="--inner-border-width: 0 0 0px 0;">
                    <div class="profile-img">
                      <img alt="existing-img" *ngIf="userData.Image && images.length == 0" src="{{userData.Image}}">
                      <img alt="uploaded-img" *ngIf="images.length != 0" src="{{images[0]}}">
                      <img alt="default-img" *ngIf="!userData.Image &&  images.length == 0" src="https://cdn.icon-icons.com/icons2/1879/PNG/512/iconfinder-3-avatar-2754579_120516.png">
                      <ion-icon style="position: absolute; bottom: 0px; left: 55%; background-color: #ffc409; padding: 6px; color: #fff; border-radius: 100%; font-size: 18px;" (click)="selectImagefromMobille()" name="camera"></ion-icon>
                    </div>

              <ion-item *ngIf="userData.CustomerImage">
                <img src="{{userData.CustomerImage}}">
               </ion-item>
               <br>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input formControlName="fullName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Mobile</ion-label>
                    <ion-input type="number" formControlName="mobile"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">City</ion-label>
                    <ion-input formControlName="city"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Address</ion-label>
                  <ion-textarea formControlName="address"></ion-textarea>
              </ion-item>


                <ion-item>
                  <ion-label position="floating">Date Of Birth</ion-label>
                  <!-- <ion-input type="date" formControlName="dob"></ion-input> -->
                  <ion-datetime displayFormat="DD MMM YYYY" formControlName="dob"  ></ion-datetime>
              </ion-item>


            </ion-row>
        </ion-grid>
        <br><br><br>
        <ion-button type="submit"  class="has-footer" expand="full" color="warning" type="submit">Save Changes</ion-button>
    </form>
</ion-content>
