<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/notemgnt"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="top"> 
      {{note.title}}
      </ion-title>
  </ion-toolbar>
</ion-header>

 

 

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Project-Scope-Management-Cover.jpg"/>
      <ion-card-subtitle>Date :  {{note.date | date: 'dd-MMM-yyyy'}}</ion-card-subtitle>
      <ion-card-title>{{note.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div innerHtml="{{ note.content }}"></div>
    </ion-card-content>
  </ion-card>
  
  
  
  
  
  <ion-button color="secondary"  type="button" value="edit" (click)="editNote(note)">Edit</ion-button>
</ion-content>
