<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Finance Tracker </ion-title>
    <ion-buttons slot="end" style="margin-right: 10px">
      <ion-icon
        class="right-menu"
        name="ellipsis-vertical-outline"
        (click)="presentActionSheet()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <!-- <h1>Finance Page</h1>   -->

    <section *ngIf="tabName == 'mannual_entry'">
      <ion-grid>
        <form
          [formGroup]="inventoryForm"
          (ngSubmit)="createInventory(inventoryForm)"
          style="border-bottom: 1px solid #ddd; margin-bottom: 15px"
        >
          <ion-row>
            <ion-col>
              <div class="form-field">
                <ion-select
                  placeholder="Choose Account"
                  formControlName="account_id"
                >
                  <section *ngFor="let account of accounts">
                    <ion-select-option value="{{ account._id }}"
                      >{{ account.account_name }}</ion-select-option
                    >
                  </section>
                </ion-select>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="form-field">
                <ion-select
                  placeholder="Inventory Type"
                  formControlName="inventryType"
                >
                  <ion-select-option value="credit">Credit</ion-select-option>
                  <ion-select-option value="debit">Debit</ion-select-option>
                </ion-select>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="form-field">
                <ion-input
                  type="number"
                  placeholder="Amount"
                  formControlName="amount"
                ></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="form-field">
                <ion-input
                  type="text"
                  placeholder="Description"
                  formControlName="description"
                ></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="form-field">
                <ion-input type="date" formControlName="date"></ion-input>
                <!-- <ion-datetime placeholder="date" [(ngModel)]="selectedDate" [max]="today" formControlName="date"></ion-datetime> -->
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                *ngIf="!isEditMode"
                color="primary"
                type="submit"
                value="Save"
                >Save</ion-button
              >
              <ion-button
                *ngIf="isEditMode"
                color="secondary"
                type="button"
                value="Update"
                (click)="updateInventory(inventoryForm)"
                >Update</ion-button
              >
            </ion-col>
          </ion-row>
          <hr />
        </form>

        <form [formGroup]="fileForm" (ngSubmit)="onSubmit(fileForm)">
          <ion-row>
            <ion-col>
              <div class="form-field">
                <input
                  type="file"
                  id="fileInput"
                  (change)="onFileChange($event)"
                />
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button color="primary" type="submit">Save</ion-button>
            </ion-col>
          </ion-row>
        </form>

        <!-- <ion-row style="width:100%" style="justify-content: flex-end;padding: 10px 0px;">
                  <ion-button class="upload-img" (click)="selectImagefromMobille()">
                    Upload Image  &nbsp;&nbsp;<ion-icon  name="cloud-upload-sharp"></ion-icon>
                  </ion-button>
                </ion-row> -->
      </ion-grid>
    </section>

    <ng-container *ngIf="tabName == 'inventory_list'">
      <ion-grid>
        <ion-item>
          <ion-label>Date : </ion-label>
          <input
            type="month"
            placeholder="Date"
            [(ngModel)]="dateFilter"
            (ngModelChange)="applyFilter()"
          />
        </ion-item>
        <ion-item>
          <ion-label>Inventory Type: </ion-label>
          <ion-select
            [(ngModel)]="inventryTypeFilter"
            (ionChange)="applyFilter()"
          >
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="debit">Debit</ion-select-option>
            <ion-select-option value="credit">Credit</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Account : </ion-label>
          <ion-select [(ngModel)]="accountFilter" (ionChange)="applyFilter()">
            <ion-select-option value="">All</ion-select-option>
            <section *ngFor="let account of accounts">
              <ion-select-option value="{{ account._id }}"
                >{{ account.account_name }}</ion-select-option
              >
            </section>
          </ion-select>
        </ion-item>
        <div
          *ngIf="inventoryList?.length != 0"
          style="display: flex;   padding: 10px"
        >
          <div class="crAmmount" style="margin-right: 8rem">Total Incoming  {{ totalIncoming  | number:'1.2-2' }}</div>
          <div class="drAmmount">Total Outgoing  {{ totalOutgoing |  number:'1.2-2' }}</div>
        </div>

        <ion-item-sliding
          id="item100"
          *ngFor="let inventory of inventoryList"
          class="transactions"
        >
          <ion-item>
            <ion-label>
              <div class="trans-row">
                <div class="trans-item-desc">
                  <h3
                    *ngIf="inventory.inventryType == 'debit'"
                    class="tran-amt"
                    style="text-transform: capitalize; color: red"
                  >
                      {{inventory.amount}}
                </h3>
                  <h3
                    *ngIf="inventory.inventryType == 'credit'"
                    class="tran-amt"
                    style="text-transform: capitalize; color: green"
                  >
                      {{inventory.amount}}
              </h3>
              <div>
                <span
                class="trans-date"
                style="text-transform: capitalize"
                >{{inventory.date | date: 'dd-MMM-yyyy'}}</span
              >
              </div>
                 <div>
                  <p class="tran-des" style="text-transform: capitalize"
                  >{{inventory.description}}</p
                >
                 </div>

                 <div>
                 <img *ngIf="inventory.bank == 'HDFC'" style="height: 20px;" src="https://www.hdfc.com/content/dam/housingdevelopmentfinancecorp/hdfc-ltd-merger/header/hdfc-bank-logo.svg">
                 <img *ngIf="inventory.bank == 'IDFC'" style="height: 20px;" src="https://www.idfcfirstbank.com/content/dam/idfcfirstbank/images/n1/IDFC-logo-website.svg">

                </div>
                 
                </div>
                <div class="trans-sign">
                  <span
                    *ngIf="inventory.inventryType == 'debit'"
                    style="color: red"
                    class="sign-tran"
                    >DR</span
                  >
                  <span
                    *ngIf="inventory.inventryType == 'credit'"
                    style="color: green"
                    class="sign-tran"
                    >CR</span
                  >
                </div>
              </div>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning" (click)="editInventory(inventory)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option
              color="danger"
              (click)="deleteInventory(inventory._id)"
            >
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <div
          style="margin-top: 200px; text-align: center"
          *ngIf="!inventoryList?.length"
        >
          <!-- <img src="../../../assets/img/no-record.gif" alt="no record found"> -->
          <div>No Record Found</div>
        </div>

        <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
      </ion-grid>
    </ng-container>

    <ng-container *ngIf="tabName == 'ledger'">
      <!-- {{openLedgerModal()}} -->
    </ng-container>

    <!-- <ng-container *ngIf="tabName == 'pay'"> Coming Soon </ng-container> -->
  </div>

  <ion-footer class="footer">
    <ion-segment
      value="pay"
      [(ngModel)]="tabName"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="mannual_entry">
        <ion-label>Inventry</ion-label>
      </ion-segment-button>
      <ion-segment-button value="inventory_list">
        <ion-label>Transactions</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ledger">
        <ion-label>Ledger</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="pay">
        <ion-label>Pay</ion-label>
      </ion-segment-button> -->
    </ion-segment>
  </ion-footer>
</ion-content>
