/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used throughout
 * the entire app.
 */

@import "./app/app.scss";

/* TODO remove once fixed in framework */
.ios .header-collapse-condense ion-toolbar {
  --background: var(--ion-background-color, #fff);
}

.page_header {
  font-size: 20px;
  padding-bottom: 10px;
  font-family: serif;
  color: var(--ion-text-color);
}

.noRecordsFound {
  text-align: center;
  margin-top: 67px;
  font-weight: bolder;
  font-family: fantasy;
}

.search-product input {
  border-radius: 50px !important;
}

ion-back-button {
  color: #fff !important;
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}
.next-btn {
  display: flex;
  justify-content: right;
}
.next_preview {
  margin-left: 0 !important;
  font-weight: 550;
  border: 1px black solid;
  padding: 9px;
  border-radius: 16px;
  margin-top: 4px;
  font-size: 13px;
  width: 100px;
  text-align: center;
}
h2.heading {
  font-size: 18px;
  margin-top: 0;
}
.form-field {
  margin-bottom: 8px;
  ion-input,
  textarea,
  ion-select,
  select {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 10px !important;
    width: 100%;
  }
  ion-input {
    input {
      padding-left: 0 !important;
    }
  }
  textarea {
    padding: 10px !important;
  }
  ion-select,
  select {
    padding: 10px !important;
    background-color: #fff;
  }
  input.custom-input {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
  }
}
.tag-field {
  border-radius: 10px;
  border: 1px solid #ddd;
  .ng2-tag-input {
    padding: 0 !important;
  }
}
.label-with-field {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.nav-btns {
  display: flex;
  height: 100%;
  font-size: 30px;
  align-items: center;
  &.right-btn {
    justify-content: right;
  }
}
.top-right-btn {
  position: absolute;
  right: 14px;
  padding: 6px 12px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  background-color: #6ca5ac;
  color: #fff;
  font-weight: 500;
}
.link {
  color: #176fa3;
}
.error {
  color: #ff0000;
  display: block;
  margin: 2px;
}
.title,
ion-title {
  text-transform: capitalize;
}
.section-heading {
  font-size: 20px;
  padding: 0 8px;
  color: #363535;
  position: relative;
  &:after {
    content: "";
    width: 10%;
    height: 1px;
    // background-color: #000;
    position: absolute;
    bottom: -3px;
    left: 8px;
  }
}
.custom-tbl {
  tr {
    border-bottom: 1px solid #acabab;
    font-size: 14px;
  }
  td {
    padding: 8px;
  }
}
