<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/food-manager"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isEditMode" id="top">Add Food Consumption</ion-title>
    <ion-title *ngIf="isEditMode" id="top">Update Food Consumption</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" (click)="openAddEditModal(null)"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row *ngFor="let foodItem of foodList" class="food-list-item">
      <ion-col>
        <div class="food-name" (click)="openAddEditModal(foodItem)">{{ foodItem.name }}</div>
        <p class="food-cal">188 calories</p>
      </ion-col>
      <ion-col>
        <div class="action-list">
          <button
            (click)="openServingSizeModel(foodItem._id)"
            *ngIf="foodItem?._id != data?.foodId"
            class="link"
          >
            <div class="icon-text">
              <ion-icon name="add-outline"></ion-icon>
              <span>Add</span>
            </div>
          </button>
          <button
            *ngIf="foodItem?._id == data?.foodId"
            (click)="openServingSizeModel(foodItem._id,true)"
          >
            Update
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="container">
    <div class="row">
      <div class="form-bg">
        <!-- <form [formGroup]="foodConsumptionForm" (ngSubmit)="isEditMode ? updateFoodConsumption(foodConsumptionForm) : addFoodConsumption(foodConsumptionForm)"> -->

        <!-- <ion-item> -->
        <!-- <ion-label position="floating">Food</ion-label> -->
        <!-- <ion-select formControlName="foodId" placeholder="Select a food" required> -->

        <!-- </ion-select> -->
        <!-- </ion-item> -->

        <!-- <ion-item>
            <ion-label position="floating">Serving</ion-label>
            <ion-input formControlName="serving" type="number"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label position="floating">Time Slot</ion-label>
            <ion-input formControlName="timeSlot" type="text" disabled></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Date</ion-label>
            <ion-datetime formControlName="date" display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY" disabled></ion-datetime>
          </ion-item> -->

        <!-- </form> -->
      </div>
    </div>
  </div>
</ion-content>
