<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/finance"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Ledger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ledger</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ng-container>
    <ion-item>
      <ion-label>Date : </ion-label>
      <ion-input type="date" [(ngModel)]="date"></ion-input>
    </ion-item>

    <hr>

    <table>
      <tr>
        <th>Account</th>
        <th>Credit</th>
        <th>Debit</th>
      </tr>
      <tr *ngFor="let invtry of inventory">
        <td>{{ invtry.account_id }}</td>
        <td>{{ invtry.inventryType }}</td>
        <td>{{ invtry.amount }}</td>
      </tr>
      <hr>
      <tr>
        <th>Total</th>
        <th>cr. total</th>
        <th>dr. total</th>
      </tr>
      <hr>
    </table>

  </ng-container>
  
</ion-content>
