<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/finance"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Ledger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ledger</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="form-field">
            <ion-input
              type="month"
              [(ngModel)]="monthYear"
              (ionChange)="getInventory()"
              placeholder="Choose Date"
            ></ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-item *ngIf="groupAccounts?.length">
        <ion-label class="crAmmount highlight-amt"
          >Total Incoming : {{ totalIncoming }}</ion-label
        >
        <ion-label class="drAmmount highlight-amt"
          >Total Outgoing : {{ totalOutgoing }}</ion-label
        >
      </ion-item>

      <hr />

      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let list of groupAccounts"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          class="ledger-panel"
        >
          <mat-expansion-panel-header class="ledger-header">
            <mat-panel-title class="ledger-title">
              {{list[0]}}
            </mat-panel-title>
            <span class="ledger-total"
              >{{getTotal(list[1])}} <span>INR</span></span
            >
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
            <tr *ngFor="let account of list[1]">
              <td>{{account.date | date:'dd-MMM-yyyy'}}</td>
              <td>{{account.amount}}</td>
              <td class="capitalize">{{account.inventryType}}</td>
              <td class="capitalize">{{account.description}}</td>
            </tr>
            <tr>
              <td><strong>Total</strong></td>
              <td>{{getTotal(list[1])}}</td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="NoRecordFound" *ngIf="groupAccounts?.length == 0">
        <p>No Record Found</p>
      </div>
    </ion-grid>
  </ng-container>
</ion-content>
